.calc-container{
    height: 400px;
    max-width: 300px;
    margin: 25% auto;
    border: 2px solid black;
}

.calc-window{
    border: 2px solid black;
    width: auto;
    margin: 10px;
    height: 50px;
    color: white;
}

.calc-buttons{
    height: 310px;
    width: auto;
    margin: 10px;
    border: 2px solid black;
}

.currentOperation{
    text-align: right;
}

.num{
    margin: 20px;
}

.op{
    margin: 20px;
}

.clear{
    margin: 20px;
}

body {
    background:url('0.gif') ;
}